.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1423px;
}

.u-section-1 .u-blog-1 {
  grid-template-columns: 100%;
  margin-top: 50px;
  margin-bottom: 60px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 1287px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 582px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 680px;
  min-height: 743px;
  background-size: auto;
  margin: -68px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px 22px;
}

.u-section-1 .u-text-1 {
  margin: 7px 0 0 14px;
}

.u-section-1 .u-image-2 {
  width: 76px;
  height: 76px;
  background-image: url("images/pexels-photo-412840.png");
  background-position: 50% 50%;
  margin: 14px 263px 0 auto;
}

.u-section-1 .u-metadata-1 {
  margin: 26px 236px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 28px;
  height: 28px;
  margin: 35px auto 0 247px;
}

.u-section-1 .u-shape-2 {
  width: 28px;
  height: 28px;
  margin: -28px auto 0 285px;
}

.u-section-1 .u-shape-3 {
  width: 28px;
  height: 28px;
  margin: -28px 287px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 28px;
  height: 28px;
  margin: -28px 252px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 28px;
  height: 28px;
  margin: -29px 218px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 31px;
  height: 31px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -21px 7px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  margin: -44px 155px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 580px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 428px;
  }

  .u-section-1 .u-group-1 {
    width: 456px;
    margin-top: -90px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-right: 122px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 288px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
    margin-top: -74px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 244px;
  }

  .u-section-1 .u-metadata-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }
}