.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-image-1 {
  width: auto;
  height: auto;
  margin: 17px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: "Mplus 1p";
  font-weight: 700;
  margin: -453px 0 0 783px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 70px 0 0 783px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 61px 0 0 783px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 70px 0 0 783px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    width: auto;
    margin-top: 0;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -412px;
    margin-right: 94px;
    margin-left: 624px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 58px;
    margin-right: 94px;
    margin-left: 770px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 42px;
    margin-right: 94px;
    margin-left: 730px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 42px 94px 60px 686px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -293px;
    margin-right: 0;
    margin-left: 499px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 644px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 604px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 560px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    margin-top: auto;
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -426px;
    margin-left: 319px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 424px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    width: auto;
    margin-top: -10px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -317px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
    margin-left: 264px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 24px;
    margin-left: 180px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1419px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: -680px 1475px 0 -535px;
  padding: 9px 10px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-family: Oswald, sans-serif;
  text-transform: none;
  width: 681px;
  margin: 76px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 623px;
  margin: 35px auto 0;
}

.u-section-2 .u-line-1 {
  width: 849px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 24px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 1009px;
  grid-gap: 17px 17px;
  width: 1037px;
  margin: 55px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 50px 50px;
}

.u-section-2 .u-gallery-item-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-top: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: -514px auto 0 146px;
  padding: 9px 10px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: -43px auto 0;
  padding: 9px 10px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: -43px 146px 0 auto;
  padding: 9px 10px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: 479px 146px 0 auto;
  padding: 9px 10px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: -43px auto 0;
  padding: 9px 10px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: -43px auto 19px 146px;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 1375px;
  }

  .u-section-2 .u-gallery-1 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-btn-2 {
    margin-top: -470px;
    margin-left: 159px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 331px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 427px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 331px;
  }

  .u-section-2 .u-btn-7 {
    margin-bottom: 35px;
    margin-left: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1996px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 1265px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-btn-2 {
    margin-top: -1073px;
    margin-left: 97px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 111px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 1039px;
    margin-right: auto;
    margin-left: 97px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -43px;
    margin-right: 111px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -576px;
    margin-right: 111px;
    padding-top: 8px;
    padding-right: 11px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -41px;
    margin-bottom: 60px;
    margin-left: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5150px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 1175px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: auto;
    width: 340px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-btn-2 {
    margin-top: -4227px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3398px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 1075px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2979px;
    width: 340px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -2501px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 978px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -553px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 1457px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -540px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 957px;
    margin-left: auto;
    margin-bottom: 24px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 794px;
}

.u-section-3 .u-shape-1 {
  width: 1140px;
  height: 608px;
  margin: 126px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 983px;
  margin: -674px auto 60px calc(((100% - 1140px) / 2) + 79px);
}

.u-section-3 .u-image-1 {
  min-height: 615px;
  background-image: url("/assets/images/Blogging111-1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 90px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 543px;
}

.u-section-3 .u-container-layout-3 {
  padding: 60px 48px 50px;
}

.u-section-3 .u-text-1 {
  font-size: 5.5rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 81px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 42px 93px 0 auto;
  padding: 20px 46px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 772px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
    height: 590px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 844px;
    margin-top: -656px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 608px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 86px;
  }

  .u-section-3 .u-layout-cell-3 {
    pointer-events: auto;
    min-height: 519px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 719px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    height: 533px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 662px;
    margin-top: -599px;
    margin-bottom: 82px;
  }

  .u-section-3 .u-image-1 {
    min-height: 549px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 116px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 433px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 2px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 53px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 38px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1066px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    height: 880px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 464px;
    margin-top: -946px;
    margin-bottom: 67px;
  }

  .u-section-3 .u-image-1 {
    min-height: 462px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1003px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 817px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 300px;
    margin-top: -883px;
    margin-bottom: 77px;
  }

  .u-section-3 .u-image-1 {
    min-height: 434px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.625rem;
  }
}.u-section-4 {
  background-image: none;
  min-height: 966px;
}

.u-section-4 .u-shape-1 {
  height: 299px;
  margin: 347px  0;
}

.u-section-4 .u-image-1 {
  width: 881px;
  height: 736px;
  margin: -581px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-group-1 {
  min-height: 494px;
  width: 570px;
  background-image: none;
  margin: -329px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  text-transform: none;
  font-size: 4.25rem;
  margin: 21px 0 0;
}

.u-section-4 .u-form-1 {
  height: 248px;
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-form-group-1 {
  margin-left: auto;
}

.u-section-4 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-form-group-2 {
  margin-left: auto;
}

.u-section-4 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-form-group-3 {
  margin-left: auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 781px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: -264px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-form-1 {
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 842px;
  }

  .u-section-4 .u-shape-1 {
    height: 279px;
    margin-top: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 560px;
    height: 505px;
    margin-top: -443px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 470px;
    width: 500px;
    margin-top: -193px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 1px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 811px;
  }

  .u-section-4 .u-shape-1 {
    height: 301px;
    margin-top: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 460px;
    height: 411px;
    margin-top: -465px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 439px;
    width: 465px;
    margin-top: -94px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 749px;
  }

  .u-section-4 .u-shape-1 {
    height: 208px;
    margin-top: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 306px;
    height: 340px;
    margin-top: -392px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 431px;
    width: 315px;
    margin-top: -67px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/assets/images/Untitled-1m-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 511px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 83px 0 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc(25% - 24px);
  grid-gap: 32px 32px;
  min-height: 299px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 41px;
  width: 41px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 17px 1px 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 41px;
  width: 41px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 17px 1px 0;
}

.u-section-5 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 41px;
  width: 41px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 17px 1px 0;
}

.u-section-5 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 41px;
  width: 41px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 17px 1px 0;
}

.u-section-5 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }
}