.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2035px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 47px auto 0 120px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 120px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1148px;
  margin: 41px auto 0 -8px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 549px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 549px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 274px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 274px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 549px;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 320px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 630px;
}

.u-section-1 .u-container-layout-8 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 630px;
}

.u-section-1 .u-container-layout-9 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-5 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-8 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 320px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 320px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 630px;
}

.u-section-1 .u-container-layout-12 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-6 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-9 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1719px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -467px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 466px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2344px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 1716px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1717px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 257px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 257px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 257px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 257px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-top: 2037px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -2038px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1755px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1720px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 1472px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1473px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1105px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 243px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 243px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 243px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 243px;
  }
}